/* ------GLITCH------- */

.glitch {
    position: relative;
    color: #9ed0eb;
    font-size: 40px;
  }
  
  .titre_glitch {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  
  .line:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
  }
  .line:nth-child(1) {
    animation: clip 3000ms -300ms linear infinite, glitch1 500ms -427ms linear infinite;
  }
  @keyframes glitch1 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #9ed0eb;
   }
    85% {
        transform: translateX(3px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(4px);
        color: #ac1212;
   }
    95% {
        transform: translateX(-1px);
        color: #9ed0eb;
   }
    100% {
        transform: translateX(0);
   }
  }
  .line:nth-child(2) {
    animation: clip 3000ms -600ms linear infinite, glitch2 500ms -141ms linear infinite;
  }
  @keyframes glitch2 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #9ed0eb;
   }
    85% {
        transform: translateX(3px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(-3px);
        color: #ac1212;
   }
    95% {
        transform: translateX(4px);
        color: #9ed0eb;
   }
    100% {
        transform: translateX(0);
   }
  }
  .line:nth-child(3) {
    animation: clip 3000ms -900ms linear infinite, glitch3 500ms -572ms linear infinite;
  }
  @keyframes glitch3 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #9ed0eb;
   }
    85% {
        transform: translateX(-3px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(2px);
        color: #ac1212;
   }
    95% {
        transform: translateX(0px);
        color: #9ed0eb;
   }
    100% {
        transform: translateX(0);
   }
  }
  .line:nth-child(4) {
    animation: clip 3000ms -1200ms linear infinite, glitch4 500ms -535ms linear infinite;
  }
  @keyframes glitch4 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #9ed0eb;
   }
    85% {
        transform: translateX(-2px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(3px);
        color: #ac1212;
   }
    95% {
        transform: translateX(-2px);
        color: #9ed0eb;
   }
    100% {
        transform: translateX(0);
   }
  }
  .line:nth-child(5) {
    animation: clip 3000ms -1500ms linear infinite, glitch5 500ms -734ms linear infinite;
  }
  @keyframes glitch5 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #9ed0eb;
   }
    85% {
        transform: translateX(1px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(4px);
        color: #ac1212;
   }
    95% {
        transform: translateX(1px);
        color: #9ed0eb;
   }
    100% {
        transform: translateX(0);
   }
  }
  .line:nth-child(6) {
    animation: clip 3000ms -1800ms linear infinite, glitch6 500ms -239ms linear infinite;
  }
  @keyframes glitch6 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #9ed0eb;
   }
    85% {
        transform: translateX(-3px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(-2px);
        color: #ac1212;
   }
    95% {
        transform: translateX(-3px);
        color: #9ed0eb;
   }
    100% {
        transform: translateX(0);
   }
  }
  .line:nth-child(7) {
    animation: clip 3000ms -2100ms linear infinite, glitch7 500ms -47ms linear infinite;
  }
  @keyframes glitch7 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #9ed0eb;
   }
    85% {
        transform: translateX(4px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(3px);
        color: #ac1212;
   }
    95% {
        transform: translateX(-2px);
        color: #9ed0eb;
   }
    100% {
        transform: translateX(0);
   }
  }
  .line:nth-child(8) {
    animation: clip 3000ms -2400ms linear infinite, glitch8 500ms -553ms linear infinite;
  }
  @keyframes glitch8 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #9ed0eb;
   }
    85% {
        transform: translateX(2px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(5px);
        color: #ac1212;
   }
    95% {
        transform: translateX(-1px);
        color: #9ed0eb;
   }
    100% {
        transform: translateX(0);
   }
  }
  .line:nth-child(9) {
    animation: clip 3000ms -2700ms linear infinite, glitch9 500ms -39ms linear infinite;
  }
  @keyframes glitch9 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #9ed0eb;
   }
    85% {
        transform: translateX(3px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(1px);
        color: #ac1212;
   }
    95% {
        transform: translateX(2px);
        color: #9ed0eb;
   }
    100% {
        transform: translateX(0);
   }
  }
  .line:nth-child(10) {
    animation: clip 3000ms -3000ms linear infinite, glitch10 500ms -873ms linear infinite;
  }
  @keyframes glitch10 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #9ed0eb;
   }
    85% {
        transform: translateX(-3px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(2px);
        color: #ac1212;
   }
    95% {
        transform: translateX(2px);
        color: #9ed0eb;
   }
    100% {
        transform: translateX(0);
   }
  }
  @keyframes clip {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
   }
    100% {
        clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
   }
  }